Body {
  /*background-color: #E86598;*/

  background: linear-gradient(to bottom,  #d4e4ef 0%,#86aecc 51%,#86aecc 51%,#86aecc 64%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

h1 {
  color: navy;
  /*margin-left: 870px;*/
  text-align: center;
}

div {
  height: 10px;
  width: 35px;
  border: 3px solid black;
  border-radius: 5px;
}

#one {
    height: 5px;
    width: 50%;
    margin: 0 auto;
    border: 2px solid navy;
    border-radius: 5px;
    display: block;
  background-color: white;
}

#two {
  float:right;
  height: 5px;
  width: 50%;
  margin: 10px
  border: 2px solid navy;
  border-radius: 5px;
  display: block;
background-color: white;

}
